#mainbody{
    height: 800px;
    width: 550px;
    border:2px solid black;
    background-color: darksalmon;
}
 body{background-image:linear-gradient(#bdc3c7,#2c3e50);}
 #photo{height:150px;width:150px;}
#info{
    height: 30px;
    width: 530px;
    border:2px solid black;
    margin-top: 10px;
    margin-left: 7px;}
 #details{ 
    height:550px;
    width:250px;
    border: 2px solid black;
    margin-top:10px;
    margin-left:7px;}  
#intro{
    height: 250px;
    width: 220px;
    border:2px solid black;
     margin-top: 10px; 
     margin-left: 12px;}
img{margin-left:3px;margin-top:3px;}
h4{display: inline;}
p{display: inline;}
.border{height:10px;width:100px;border:2px solid black;position:absolute;top:191px;right:20px;}
.rating{background-color: skyblue;}
.line{height:10px;width:100px;border:2px solid black;position:absolute;top:212px;right:20px;}
.rate{background-color:skyblue;}
.third{height:10px;width:100px;border:2px solid black;position:absolute;top:232px;right:20px;}
.color{background-color:skyblue;}
.last{height:10px;width:100px;border:2px solid black;position:absolute;top:253px;right:20px;}
.c{background-color:skyblue;}
.tab{position:absolute;top:785px;left:235px;}



